<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YaY!</title>
</head>

<body>
    <h1> You are so great, you made it to this page! </h1>
    
</body>

</html>